@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
      @import url(miniset2/stylesheet.css);
      
      body {
        background-image: url(background-5.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-color: #070605;
      
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 200;
      
        max-width: 1200px;
        margin: 0 auto;
      
        position: relative;
        -webkit-font-smoothing: subpixel-antialiased;
      }
      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        body {
          background-image: url(background-5@2x.jpg);
          background-size: 3000px 2000px
        }
      }
      @media only screen and (max-width : 768px) {
        body {
          background-size: 2300px;
        }
      }
      .logo {
        margin: 0 auto;
        width: 330px;
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 60px;
      }
      .well {
        background-color: rgba(0,0,0,0.6);
        border: none;
        border-radius: 0;
        padding: 12px;
        padding-bottom: 15px;
      }
      input {
        background: transparent;
        width: 100%;
        border: none;
        border-bottom: 1px solid #94c9e0;
        outline: none;
        padding-bottom: 5px;
        border-radius: 0;
      }
      h3 {
        font-family: 'miniset2regular';
        font-size: 17px;
        -webkit-font-smoothing: none;
        color: #45caf3;
        margin-bottom: 20px;
      }
      h4 {
        font-weight: 400;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 4px;
      }
      p {
      
      }
      .lead {
        font-weight: 300;
        font-size: 26px;
        line-height: 1.3;
      }
      .lead strong {
        font-weight: 400;
      }
      a.nostyle {
        color: inherit;
        text-decoration: inherit;
      }
      a.nostyle {
      
      }
      form {
        margin: 0;
      }
      footer {
        position: absolute;
        bottom: 0;
        left:15px;
        right:15px;
        font-size: 10px;
        line-height: 1.6;
        height: 60px;
      }
      .nord {
        letter-spacing: 0.2em;
      }