---
---

/**********
* GLOBALS *
**********/

html, body, :root {
  font-size: 18px;
  overflow-x: hidden;

  @media (max-width: 991px) {
    font-size: 18px
  }
  @media (max-width: 767px) {
    font-size: 17px;
  }
}

body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  color: #231f20;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

a {
  color: rgb(0,169,255);
}

a:hover, a:focus {
  color: rgb(0,169,255);
  text-decoration: underline;
}

form {
  margin: 0;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 1.7rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  border-radius: 0;
}

.btn.btn-transparent {
  color: white;
  border: 2px solid white;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 25px;
}

p.smaller {
  font-size: 0.9rem;
  line-height: 1.5;
}

/*********
* COMMON *
*********/

.margins {
  max-width: 1150px;
  padding: 0 50px;
  padding: 0 6vw;
  margin: 0 auto;
}

.margins.narrow {
  max-width: 800px;
  padding: 0 40px;
  padding: 0 6vw;
}

.supernav {
  color: #ed8107;
}

.expand-image-wrapper {
  overflow: hidden;
}

.expand-image {
  margin: -2vw;
}

.shop-button {
  transition: 0.15s all;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
  
  padding: 0.8em 2em;

  &:hover {
    /*background-color: rgba(255,255,255,0.9);
    color: #cb7123;*/
    color: #ef852a;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
}

/******
* OLD *
******/


/*********
* SPACERS *
*********/

.spacer {
  /**
   * Use em rather than px for sizing spacers. Then they will scale down in mobile view.
   */
  font-size: 1px;

  @media (max-width: 991px) {
    font-size: 0.7px;
  }
  @media (max-width: 767px) {
    font-size: 0.5px;
  }
}

.spacer.h10 { height: 10px; }
.spacer.h15 { height: 15px; }
.spacer.h20 { height: 20px; }
.spacer.h30 { height: 30px; }
.spacer.h40 { height: 40px; }
.spacer.h50 { height: 50px; }
.spacer.h60 { height: 60px; }
.spacer.h70 { height: 70px; }
.spacer.h80 { height: 80px; }
.spacer.h90 { height: 90px; }
.spacer.h100 { height: 100px; }

.hero-image-desktop {
  position: relative;
  min-height: calc(100vh - 90px);
  background-image: url(images/tingbot-temp-background-copy.jpg);
  background-color: #bbb;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  margin-left: 0;
  margin-right: 0;
}

.hero-image-mobile {
  position: absolute;
  background-image: url(images/tingbot-temp-background-mobile-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.page-margins {
  margin: 0 30px;
}

.navbar {
  color: rgb(0,169,255);
  margin: 0;
  padding: 19px 0;
}

.navbar-toggle .icon-bar {
  background-color: rgb(0,169,255);
}

.nav-item {
  margin: 0 10px;
  display: inline-block;
}

.nav-item a {
  color: rgb(0,169,255);
}

.nav-item a:hover {
  color: inherit;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.navbar-brand {
  padding-left:30px;
}

.tingbot-logo {
  position: relative;
  top: -3px;
  font-family: 'miniset2regular';
  font-size: 2.1rem;
  text-align: left;
  color: rgb(0,169,255);
}

.strapline {
  color: rgb(0,169,255);
  font-size: 0.9rem;
  line-height: 1.5em;
}

.mailing-box {
  background-color: rgba(30,40,65,0.9);
  color: white;
  padding: 20px;
  font-size: 0.8rem;
  max-width:350px;
}

.mailing-box-header {
  margin-top: 0;
  font-family: 'miniset2regular';
  font-size: 1rem;
  color: white;
}

#mailchimp {
  color: #1E2841;
  margin-top: 3px;
  }
  
#mailchimp input {
  border: medium none;
  color: rgba(30,40,65,0.5);
  background-color: rgb(255,255,255);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px 5px;
  width: 100%;
}
#mailchimp input.email {
  background: rgba(255,255,255,1);
}

#mailchimp input.name {
  background: rgba(255,255,255,0.1);
}

#mailchimp input[type="submit"] {
  background: rgba(255,255,255,0);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 600;
  font-family: 'miniset2regular';
  padding: 8px 0;
}

#mailchimp input[type="submit"]:hover {
  background: rgb(0,169,255);
  border: 2px solid rgb(0,169,255);
}

.perspective-box {
  position: absolute;
  width: 320px;
  height: 240px;
  top: 154px;
  left: 50%;
  margin-left: -137px;
  background: red;
  background-image: url(images/web-test.gif);
  transform: perspective( 1310px ) rotateZ( -21deg ) rotateY( 397deg ) rotateX( -16deg ) scale(0.5);
}

.press-badge {
  height: 75px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.social-badge {
  height: 26px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

a.no-hover:hover {
  text-decoration: none;
}
