@import url(miniset2/stylesheet.css);

body {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

.hero-image {
  position: relative;
  min-height: calc(100vh - 90px);
  background-color: #bbb;
  background-image: url(images/tingbot-cover-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  margin-left: 0;
  margin-right: 0;
}

.nav {
  padding-top: 35px;
  padding-right: 38px;
  color: rgb(0,169,255);
  text-align: right;
  background-color: white;
  width: 100%;
  height: 90px;
}

.nav-item {
  margin: 0 10px;
  display: inline-block;
}

.nav-item a {
  color: rgb(0,169,255);
}

.nav-item a:hover {
  color: inherit;
}

.tingbot-logo {
  position: absolute;
  margin-top: 4px;
  margin-left: 38px;
  top: 10px;
  font-family: 'miniset2regular';
  font-size: 42px;
  text-align: left;
  color: rgb(0,169,255);
}

.strapline {
  color: rgb(0,169,255);
  font-size: 18px;
  line-height: 1.5em;
}

.mailing-box {
  background-color: rgba(30,40,65,0.9);
  color: white;
  padding: 20px;
  font-size: 16px;
}

#mailchimp {
  color: #1E2841;
  margin-top: 3px;
  }
  
#mailchimp input {
  border: medium none;
  color: rgba(30,40,65,0.5);
  background-color: rgb(255,255,255);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
}
#mailchimp input.email {
  background: rgba(255,255,255,1);
}

#mailchimp input.name {
  background: rgba(255,255,255,0.1);
}

#mailchimp input[type="submit"] {
  background: rgba(255,255,255,0);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: 'miniset2regular';
  padding: 8px 0;
}

#mailchimp input[type="submit"]:hover {
  background: rgb(0,169,255);
  border: 2px solid rgb(0,169,255);
}

.perspective-box {
  position: absolute;
  width: 160px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -60px;
  background: red;
  transform: perspective( 1200px ) rotateY( 30deg ) rotateZ( -15deg );
}

.press-badge {
  height: 75px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.social-badge {
  height: 26px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

a.no-hover:hover {
  text-decoration: none;
}





