@import url(miniset2/stylesheet.css);

body {
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  color: rgb(0,169,255);
}

a:hover, a:focus {
  color: rgb(0,169,255);
  text-decoration: underline;
}

form {
  margin: 0;
}

.hero-image-desktop {
  position: relative;
  min-height: calc(100vh - 90px);
  background-image: url(images/tingbot-temp-background-copy.jpg);
  background-color: #bbb;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
  margin-left: 0;
  margin-right: 0;
}

.hero-image-mobile {
  position: absolute;
  background-image: url(images/t ingbot-temp-background-mobile-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.page-margins {
  margin: 0 30px;
}

.navbar {
  color: rgb(0,169,255);
  margin: 0;
  padding: 19px 0;
}

.navbar-toggle .icon-bar {
  background-color: rgb(0,169,255);
}

.nav-item {
  margin: 0 10px;
  display: inline-block;
}

.nav-item a {
  color: rgb(0,169,255);
}

.nav-item a:hover {
  color: inherit;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  text-decoration: underline;
}

.navbar-brand {
  padding-left:30px;
}

.tingbot-logo {
  position: relative;
  top: -3px;
  font-family: 'miniset2regular';
  font-size: 42px;
  text-align: left;
  color: rgb(0,169,255);
}

.strapline {
  color: rgb(0,169,255);
  font-size: 18px;
  line-height: 1.5em;
}

.mailing-box {
  background-color: rgba(30,40,65,0.9);
  color: white;
  padding: 20px;
  font-size: 16px;
}

.mailing-box-header {
  margin-top: 0;
  font-family: 'miniset2regular';
  font-size: 20px;
  color: white;
}

#mailchimp {
  color: #1E2841;
  margin-top: 3px;
  }
  
#mailchimp input {
  border: medium none;
  color: rgba(30,40,65,0.5);
  background-color: rgb(255,255,255);
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 5px 5px;
  width: 100%;
}
#mailchimp input.email {
  background: rgba(255,255,255,1);
}

#mailchimp input.name {
  background: rgba(255,255,255,0.1);
}

#mailchimp input[type="submit"] {
  background: rgba(255,255,255,0);
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: 'miniset2regular';
  padding: 8px 0;
}

#mailchimp input[type="submit"]:hover {
  background: rgb(0,169,255);
  border: 2px solid rgb(0,169,255);
}

.perspective-box {
  position: absolute;
  width: 320px;
  height: 240px;
  top: 154px;
  left: 50%;
  margin-left: -137px;
  background: red;
  background-image: url(images/web-test.gif);
  transform: perspective( 1310px ) rotateZ( -21deg ) rotateY( 397deg ) rotateX( -16deg ) scale(0.5);
}

.press-badge {
  height: 75px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

.social-badge {
  height: 26px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}

a.no-hover:hover {
  text-decoration: none;
}





