<style>
  .footer {
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .footer-links-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .footer-links a {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.5em;
    color: inherit;
  }
  .footer-copyright {
    text-align: center;
    font-size: 0.8rem;
    color: #888;
  }
  @media (max-width:767px) {
    .footer {
      margin-top: 30px;
    }
  }
</style>
<div class="footer">
  <div class="margins">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2 col-xs-4">
      <div class="footer-links-header">Tingbot</div>
        <div class="footer-links">
          <a href="http://ocean.tingbot.com">Apps</a>
          <a href="http://docs.tingbot.com">Docs</a>
          <a href="http://forum.tingbot.com">Forum</a>
          <a href="http://docs.tingbot.com/faq">Support</a>
          <a href="http://tingbot.com/terms/" target="_blank">Terms</a>
          <a href="http://tingbot.com/codeofconduct/" target="_blank">Code of Conduct</a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4">
        <div class="footer-links-header">Connect</div>
        <div class="footer-links">
          <a href="https://github.com/tingbot" target="_blank">Github</a>
          <a href="https://twitter.com/thetingbot" target="_blank">Twitter</a>
          <a href="https://www.facebook.com/thetingbot/" target="_blank">Facebook</a>
          <a href="https://tingbot.slack.com/" target="_blank">Slack</a>
          <a href="mailto:hello@tingbot.com">Contact</a>
        </div>
      </div>
      <div class="col-sm-2 col-xs-4">
        <div class="footer-links-header">About</div>
        <div class="footer-links">
          <a href="https://www.kickstarter.com/projects/744235676/tingbot-raspberry-pi-made-fun" target="_blank">Kickstarter</a>
          <a href="http://ting.it/" target="_blank">ting.it</a>
          <a href="http://nordcollective.com/" target="_blank">Nord</a>
        </div>
      </div>
      <div class="clearfix visible-xs-block" style="margin-bottom: 35px"></div>
      <div class="col-sm-4">
        <div class="footer-links-header">
          Sign up for Tingbot news
        </div>
        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
          #mc_embed_signup input {
            display: block;
            width: 100%;
            height: 2rem;
            box-sizing: border-box;
            border-radius: 0;
          }
          #mc_embed_signup input[type=email] {
            display: block;
            width: 100%;
            padding: 4px 8px;
            border: none;
            border-left: 3px solid #c48fd2;
            font-size: 0.8rem;
          }
          #mc_embed_signup input[type=email]:focus {
            outline: none;
            background-color: #f5f5f5;
          }
          #mc_embed_signup input[type=submit] {
            background-color: #c48fd2;
            color: white;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8rem;
            height: 2rem;
          }
          #mc_embed_signup .response {
            font-size: 0.8rem;
            margin-top: 15px;
            color: #b663cb;
          }
        </style>
        <div id="mc_embed_signup">
          <form action="//tingbot.us9.list-manage.com/subscribe/post?u=b8440d6a92dc8fa91a14d4e39&amp;id=5382b4e26e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b8440d6a92dc8fa91a14d4e39_5382b4e26e" tabindex="-1" value=""></div>
              <div class="clear">
                <div class="row">
                  <div class="col-xs-7">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" aria-required="true" placeholder="email@address.com">
                  </div>
                  <div class="col-xs-5">
                    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
            </div>
          </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <div class="spacer" style="height: 40em"></div>
    <div class="footer-copyright">
      <img src="/images/tingbot-icon-footer.png" style="width: 56px">
      <br>
      &copy; Tingbot Ltd.
    </div>
  </div>
</div>