<div class="nav clearfix">
    <div class="tingbot-logo">tingbot</div>
    <div class="nav-item">
        <a href="https://www.kickstarter.com/projects/744235676/tingbot-raspberry-pi-made-fun/" target="_blank">
            Kickstarter
        </a>
    </div>
    <div class="nav-item">
        <a href="http://ocean.tingbot.com/" target="_blank">
            Ocean
        </a>
    </div>
    <div class="nav-item">
        <a href="https://github.com/tingbot/tide/releases" target="_blank">
            Tide
        </a>
    </div>
    <div class="nav-item">
        <a href="http://github.com/tingbot" target="_blank">
            GitHub
        </a>
    </div>
    <div class="nav-item">
        <a href="https://tingbot-python.readthedocs.io/en/latest/" target="_blank">
            Docs
        </a>
    </div>
    <div class="nav-item">
        <a href="about.html">
            About
        </a>
    </div>
</div>
